.home__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100svh - var(--nav-height));
}

.home__greetings {
  font-size: 1rem;
  margin-top: 1rem;
}

.home__intro-name {
  font-size: 1.25rem;
  margin-bottom: 0.4rem;
}

.home__intro-title {
  color: var(--accent);
  font-size: 2rem;
}

.home__intro-text {
  margin: 1rem 0;
}

.home__profile-picture {
  margin-top: 1.5rem;
}

.home__profile-picture img {
  border: 5px solid var(--primary);
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .home__container {
    flex-direction: row;
    justify-content: space-around;
  }

  .home__greetings {
    width: 80%;
  }

  .home__intro-text {
    font-size: 1.2rem;
  }

  .home__profile-picture {
    margin-top: 0;
    text-align: center;
  }

  .home__profile-picture img {
    height: auto;
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .home__intro-name {
    font-size: 1.75rem;
    margin-bottom: 0.4rem;
  }

  .home__intro-title {
    font-size: 3rem;
  }

  .home__intro-text {
    font-size: 1.5rem;
  }
}
