.projects__card {
  background-color: white;
  border: 1px solid var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 440px;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
  width: 320px;
}

.projects__card:before {
  background-color: var(--primary);
  border-radius: 10px;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(2%, 2%);
  width: 100%;
  z-index: -1;
}

.projects__card-header img {
  max-height: 150px;
  width: 100%;
}

.projects__card-info-tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: start;
  margin-top: 1rem;
}

.projects__card-info-tags button, .projects__card-deploy-button,
.projects__card-github-button {
  border: none;
  border-radius: 1rem;
  color: white;
  font-weight: 500;
  padding: 0 1rem;
}

.projects__card-info-text {
  height: 100px;
  margin-top: 1rem;
}

.scroll-text {
  overflow-y: scroll;
}

.projects__card-access {
  text-align: right;
}

.projects__card-access button {
  margin-right: 1rem;
  text-align: right;
}

.projects__card-deploy-button {
  background-color: var(--primary);
}

.projects__card-github-button {
  background-color: var(--black);
}

.HTML-tag {
  background-color: #e96228;
}

.CSS-tag {
  background-color: #2862e9;
}

.JAVASCRIPT-tag {
  background-color: #f7e025;
}

.BOOTSTRAP-tag {
  background-color: #6528e0;
}

.REACT.JS-tag {
  background-color: #58c4dc;
}

.TAILWIND-tag {
  background-color: #38bdf8;
}

.API-tag {
  background-color: #aad742;
}

.TYPESCRIPT-tag {
  background-color: #2f74c0;
}

.NODE.JS-tag {
  background-color: #8bbf3d;
}

.RESPONSIVE-tag {
  background-color: gray;
}
